* {
    margin: 0;
    padding: 0;

    font-family: "Mulish", sans-serif;
}

#root {
    background-color: rgb(233, 233, 233);
}

p i {
    font-size: 14px;
    color: rgb(35, 53, 82);
    padding-right: 4px;
    opacity: .5;
}

.container {
    margin: 0 auto;
    width: 1200px;
    background-color: whitesmoke;
    min-height: 100vh;
}

.main-section{
    width: 1200;
    padding: 24px;
}

.split-section {
    display: flex;
    justify-content: space-between;
}

.side-section {
    width: 350px;
    height: min-content;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    float: left;
    position: sticky;
    top: 10px;
}

.side-section h3 {
    margin-top: 10px;
}

.side-section div {
    margin-bottom: 12px;
}

.mobile {
    display: none;
    width: calc(100% - 24px);
}

.split-mobile {
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.search {
    padding-left: 16px;
    width: calc(100% - 16px);
    height: 36px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid rgb(186, 186, 186);
    outline: none;
}

.wrapper {
    width: 770px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.wrapper-header {
    margin-left: 12px;
}

.header {
    padding: 0 20px;
    background: linear-gradient(135deg, rgba(73,162,215,1) 0%, rgba(75,193,217,1) 100%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow:  0 8px 8px 0 rgb(199, 199, 199);
}

.nav-button {
    margin: 6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    background-color: white;
    transition: .2s ease;
    color: darkslategrey;
}

.nav-button:hover {
    background-color: whitesmoke;
    color:rgb(0, 139, 208);
    cursor: pointer;
}

.nav-button i {
    width: 100%;
}

.header h1 {
    color: white;
}

.card {
    width: calc(100% - 24px);
    display: flex;
    padding: 12px;
    border-radius: 12px;
    background-color: white;
}

.card-img {
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    background-color: black;
}

.new, .discount {
    position: absolute;
    left: -4px;
    border-radius: 5px;
    z-index: 1;
}

.new {
    padding: 8px 16px;
    bottom: 10px;
    background-color:rgb(0, 139, 208);
    color: white;
}

.discount {
    height: 20px;
    top: 20px;
    background-color: rgb(171, 6, 80);
    color: white;
    padding: 5px 10px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
    opacity: .85;
}
.card-img img:hover {
    scale: 1.05;
    opacity: 1;
}

.card-info {
    width: calc(100% - 24px);
    padding: 0 12px;
}

.price {
    font-size: 24px;
    font-weight: 700;
    color: darkslategray;
}

.description {
    font-size: 1em;
    text-align: justify;
    width: 100%;
    height: 140px;
}

.name {
    height: 30px;
    color: rgb(0, 139, 208);
}

.rooms {
    margin-bottom: 4px;
}

.card-button {
    padding: 8px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    color: rgb(53, 53, 53);
    border: 1px solid rgb(186, 186, 186);
    transition: .2s ease;
    font-weight: 600;
}

.card-button:hover {
    border: none;
    color: white;
    cursor: pointer;
}

.card-button:active {
    background-color: white;
    color: black;
    border: 1px solid rgb(186, 186, 186);
}

.order {
    width: calc(100% - 48px);
    margin-right: 8px;
    border-radius: 20px;
}

.order:hover {
    background-color: rgb(0, 139, 208);
}

.to-cart {
    width: 40px;
    border-radius: 50%;
}

.to-cart:hover {
    background-color:rgb(171, 6, 80);
}

.footer {
    padding: 24px;
    width: calc(100%- 48);
    height: 124px;
    background-color:rgb(212, 212, 212);
    color:rgb(99, 99, 99);
    text-align: center;
}

.form-group {
    padding: 0 24px;
    margin-bottom: 8px;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
}

.form-group input {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form button {
    width: calc(100% - 48px);
    margin: 0 24px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    color: rgb(53, 53, 53);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 12px;
    transition: .2s ease;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    border: none;
    background-color: rgb(0, 139, 208);
    color: white;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .header h1 {
        display: none; 
    }

    .main-section {
        flex-direction: column;
    }

    .side-section {
        display: none;
        top: 0;
        z-index: 2;
    }

    .mobile {
        display: block;
    }

    .wrapper {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .main-section{
        width: 100%;
        padding: 24px 0;
    }

    .wrapper {
        width: 100%;
    }

    .card {
        flex-direction: column;
    }

    .card-img {
        height: 270px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-radius: 8px 8px 0 0;
    }

    .description {
        height: 100px;
    }
}